<div class="archive">
  <div class="row">
    <div class="container">
      <div class="archive-grid flex">
        {% for category in items %}
          <div class="column">
            <div class="archive-list{% if not category.subcategories %} archive-list-no-results{% endif %}">
              <h2>{{ category.title }}</h2>
              <div class="archive-blocks">
                {% if category.subcategories %}
                  {% for subcategory in category.subcategories %}
                    <div class="archive-block">
                      <div class="archive-block-header">
                        <h3 class="title">{{ subcategory.title }}</h3>
                      </div>
                      <div class="archive-block-content">
                        {% if subcategory.items %}
                          {% for item in subcategory.items %}
                            {% if item.pdf %}
                              <span class="item">{{ item.title }}<span class="seperator">|</span>{{ item.pdf }}</span>
                            {% else %}
                              <span class="item">{{ item.title }}</span>
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          <p class="no-results">{{ 'Parts for this period are not available'|t }}</p>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p class="no-results">{{ 'Parts for this period are not available'|t }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
