<div class="visual-wie-ontvingen-block visual-block">
  <br/>
  <h2 class="wie-ontvingen-title visual-title">Titel</h2>
  <div class="container">
    <!-- layout -->
    <div id="container-links">
      <div id="chart_canvas_wie_ontv_navigation_top" class="chart_navigation chart_navigation_top">
        <div id="navigation_top_select">
          <input id="input_title" class="center" type="text">
          <div id="slider_wie_ontv" class="slider_container">
          </div>
        </div>
      </div>
      <div id="container">
        <div id="chart_canvas_wie_ontv" style="height: 480px;"></div>
      </div>
      <div id="chart_canvas_wie_ontv_navigation" class="chart_navigation">
        <div id="navigation_select">
          <select id="select_type" class="center">
            <option>-</option>
          </select>
          <select id="select_year" class="center">
            <option>-</option>
          </select>
        </div>
        <div id="navigation_links">
          <a href="javascript:void(0)">Terug naar xxx</a>
        </div>
      </div>
    </div>
    <div id="container-rechts">
      <div id="chart_canvas_wie_ontv_legend"></div>
    </div>
  </div>

  <!-- legend header template -->
  <script type="text/template" id="chart_legend_header_template_wie_ontv">
    {% verbatim %}
        <div class="chart_legend_header">
            <div class="legend_title">{{legend_title}}</div>
            <div class="legend_total">{{legend_total}}</div>
        </div>
    {% endverbatim %}
  </script>

  <!-- legend template -->
  <script type="text/template" id="chart_legend_template_wie_ontv">
    {% verbatim %}
        <div id="{{title}}" class="chart_legend_item">
        	<div class="chart_legend_item_header">
                <div class="chart_legend_item_color"></div>
                <div class="chart_legend_item_amount">{{value}}</div>
                <div class="chart_legend_item_title">{{title}}</div>
            </div>
            <div class="chart_legend_sub_data">
                <div class="chart_legend_post_data">
                    <a class="minfin_link" minfin-link="{{link}}">{{pre}} {{type}}</a>
                </div>
                <div class="chart_legend_data" id="{{title}}_data"></div>
            </div>
        </div>
    {% endverbatim %}
  </script>

  <!-- sub data inside legend list -->
  <script type="text/template" id="chart_legend_data_template_wie_ontv">
    {% verbatim %}
        <div>
            <div id="subtitle_{{title}}" class="chart_legend_data_item">
                <div class="chart_legend_data_item_amount">{{amount}}</div>
                <div class="chart_legend_data_item_title">{{title}}</div>
            </div>
            <div id="subtitle_info_{{title}}" class="chart_legend_data_item_info">
                    <a class="minfin_link show" minfin-link="{{link}}">Vergelijk {{type}}</a>
                    <a class="minfin_link chart_legend_hide {{website_class}}" href="{{website}}">{{website}}</a>
                <div class="chart_legend_card">
                        <b>{{type}}</b>
                        <br /><small>{{ministerie}}</small>
                        <div class="chart_legend_card_block">
                            Omzet<div class="alignright"><b>€ {{eur_omzet}}</b></div>
                        <br />Fte<div class="alignright"><b>{{num_fte}}</b></div>
                        </div>
                        <div class="chart_legend_card_block">
                            {{beschrijving}}
                        </div>
                    </div>
            </div>
        </div>
    {% endverbatim %}
  </script>

  <!-- popup -->
  <script type="text/template" id="chart_popup_template_wie_ontv">
    {% verbatim %}
        <div id="chart_popup">
            <div class="card">
                <div class="chart_popup">
                    <a class="close_popup"><div class="cross"></div></a>
                    <div class="arrow_popup"></div>
                    <div class="chart_legend_card">
                        <b>{{popup_title}}</b><br><div class="">{{value}}</div>
                    </div>
                </div>
                <div id="chart_popup_info" class="chart_popup_info">
                    <a class="minfin_link" minfin-link="{{link}}">{{pre}} {{type}}</a>
                    <div id="chart_popup_data" class="chart_legend_popup_data"></div>
                </div>
            </div>
        </div>
    {% endverbatim %}
  </script>

  <script type="text/template" id="chart_initializer" name="wie_ontvingen"></script>
</div>
