<div class="visual-wie-ontvingen-start-block visual-block">
  <div class="container">
    <!-- layout -->
    <div id="container-full" class="visual-container-full">
      <div id="chart_canvas_wie_ontv_strt_navigation" class="chart_navigation">
        <div class="searchheader">
          <div class="searchheader_left" style="display:inline-block;padding:10px 15px 0;">left</div>
          <!-- <div class="searchheader_right" style="display:inline-block;float:right;padding:10px 15px 0;">right</div> -->
        </div>
        <div id="navigation_select">
          <select id="select_year" class="center">
            <option>-</option>
          </select>
          <div class="manual_selector" id="selector_wie_ontv"
               style="width:70%;margin-left:10px;margin-top:2px;display:inline-block;float: right;">
            <input type="text" class="selector_search" placeholder="Zoek..." style="line-height:24px;;">
          </div>
        </div>
        <div id="navigation_links"></div>
      </div>
    </div>
    <div id="chart_canvas_wie_ontv_strt_results">
    </div>
  </div>

  <!-- legend header template -->
  <script type="text/template" id="chart_legend_header_template_wie_ontv_strt">
    {% verbatim %}
        <div class="chart_legend_header">
            <div class="legend_title">{{legend_title}}</div>
            <div class="legend_total">{{legend_total}}</div>
        </div>
    {% endverbatim %}
  </script>

  <!-- legend template -->
  <script type="text/template" id="chart_legend_template_wie_ontv_strt">
    {% verbatim %}
        <div id="{{title}}" class="chart_legend_item">
        	<div class="chart_legend_item_header">
                <div class="chart_legend_item_color"></div>
                <div class="chart_legend_item_amount">{{value}}</div>
                <div class="chart_legend_item_title">{{title}}</div>
            </div>
            <div class="chart_legend_sub_data">
                <div class="chart_legend_post_data">
                    <a class="" href="{{link}}">Vergelijk {{type}}</a>
                    <a class="chart_legend_hide {{website_class}}" href="{{website}}">{{website}}</a>
                    <div class="chart_legend_card">
                        <b>{{type}}</b>
                        <br /><small>{{ministerie}}</small>
                        <div class="chart_legend_card_block">
                            Omzet<div class="alignright"><b>€ {{eur_omzet}}</b></div>
                        <br />Fte<div class="alignright"><b>{{num_fte}}</b></div>
                        </div>
                        <div class="chart_legend_card_block">
                            {{beschrijving}}
                        </div>
                    </div>
                </div>
                <div class="chart_legend_data" id="{{title}}_data"></div>
            </div>
        </div>
    {% endverbatim %}
  </script>

  <!-- sub data inside legend list -->
  <script type="text/template" id="chart_legend_data_template_wie_ontv_strt">
    {% verbatim %}
        <div>
            <div id="subtitle_{{title}}" class="chart_legend_data_item">
                <div class="chart_legend_data_item_amount">{{amount}}</div>
                <div class="chart_legend_data_item_title">{{title}}</div>
            </div>
            <div id="subtitle_info_{{title}}" class="chart_legend_data_item_info">
                    <a class="minfin_link show" href="{{link}}">Vergelijk {{type}}</a>
                    <a class="minfin_link chart_legend_hide {{website_class}}" href="{{website}}">{{website}}</a>
                <div class="chart_legend_card">
                        <b>{{type}}</b>
                        <br /><small>{{ministerie}}</small>
                        <div class="chart_legend_card_block">
                            Omzet<div class="alignright"><b>€ {{eur_omzet}}</b></div>
                        <br />Fte<div class="alignright"><b>{{num_fte}}</b></div>
                        </div>
                        <div class="chart_legend_card_block">
                            {{beschrijving}}
                        </div>
                    </div>
            </div>
        </div>
    {% endverbatim %}
  </script>

  <script type="text/template" id="chart_initializer" name="wie_ontvingen_start"></script>
</div>
